{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Active Listings</h1>

    <div class="row row-cols-1 row-cols-md-4">

        {% for listing in listings %}
        <div class="col mb-5">

            <div class="card h-100">
                {% if listing.image_url != "" %}
                    <img src="{{ listing.image_url }}" class="card-img-top" alt="image">
                {% else %}
                    <img src="http://placehold.jp/250x250.png?text=No image available" class="card-img-top" alt="image">
                {% endif %}
                <div class="card-body">
                    <a href="{% url 'details' listing.id %}">
                        <h3 class="card-title">{{ listing.title }}</h3>
                    </a>
                    <h5>Price: ${{ listing.current_price }}</h5>
                    <p class="card-text">{{ listing.description }}</p>
                    <a href="{% url 'details' listing.id %}" class="btn btn-primary">See details</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Created at {{ listing.created_at }}</small>
                </div>
            </div>
        </div>

        {% empty %}
        <ul>
            <li>
                There are currently no Listings available.
            </li>        
        </ul>

        {% endfor %}
    </div>

{% endblock %}