{% extends 'auctions/layout.html' %}

{% block body %}

<h1>Watchlist</h1>

    <ul>
        {% for item in users_watchlist %}
            <li>
                <a href="{% url 'details' item.listing.id %}">
                    <h5>{{ item.listing.title }}</h5>
                </a>
                <div>Current Price: {{ item.listing.current_price }}</div>
            </li>
        {% empty %}
            <li>
                There are currently no listings in your Watchlist available.
            </li>        
        {% endfor %}
    </ul>

{% endblock %}